:root{
--blue:#062b57;
--orange:#f59e0b;
}
*{box-sizing:border-box}
body{margin:0;font-family:Arial;color:var(--blue)}
header{display:flex;align-items:center;justify-content:space-between;padding:20px 6%;background:white;box-shadow:0 2px 15px #ddd;position:sticky;top:0}
.logo{font-size:25px;font-weight:900}
nav a{margin:12px;text-decoration:none;color:var(--blue);font-weight:bold}
.cta,.grid a{background:var(--orange);padding:13px 22px;border-radius:10px;color:white;text-decoration:none;font-weight:bold}
.hero{background:linear-gradient(110deg,#062b57,#174b85);color:white;min-height:520px;padding:80px 8%;display:flex;align-items:center}
.hero h1{font-size:60px;text-transform:uppercase}
.hero span{color:#fbbf24}
.tag{background:#fbbf24;color:#062b57;padding:8px;display:inline-block}
.car{font-size:190px;margin-left:auto}
.secondary{border:2px solid white;color:white;padding:12px 20px;border-radius:10px;margin-left:15px;text-decoration:none}
h2{text-align:center;font-size:38px;margin:50px}
.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(220px,1fr));gap:25px;padding:0 8%}
article{padding:30px;text-align:center;border-radius:18px;box-shadow:0 5px 25px #ddd}
article svg{width:55px;height:55px}
.benefits{display:flex;justify-content:center;gap:40px;padding:50px;flex-wrap:wrap;font-weight:bold}
.page{text-align:center;padding:80px}
@media(max-width:700px){
nav{display:none}
.hero{display:block}
.hero h1{font-size:38px}
.car{display:none}
}